:root{
    --main-bg-color: white;
    --main-text-color: black;
    --main-border: black;
    --error-color: red;
    --delete: red;
}

.navbar-container{
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 0;
}
.navbar-link{
    color: var(--main-text-color);
    text-decoration: none;    
}
.home{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 100px;
}
input.error{
    border: 5px solid var(--error-color);
}
/*home display*/
.workout-details{
    padding: 2rem;
    border: 1px solid var(--main-border);
    border-radius: 1rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 1fr 0.1fr;
    justify-content: center;
    align-items: center;
}
.workout-details h4{
    margin: 0 0 0 2rem;
    font-size: 1.2em;
    color:var(--main-text-color)
}
.workout-details p{
    margin: 0;
    font-size: 0.9em;
    color: var(--main-text-color);
}
.workout-details span{
    margin-right: 1rem;
    cursor: pointer;
    padding: 10px;
    border: 1px solid var(--main-border);
    background-color: var(--delete);
    border-radius: 50%;
}
/*form*/
.create-workout{
    padding: 3rem;
    margin-right: 10rem;
    border: 1px solid black;
    border-radius: 1rem;
}
.form-submit-btn{
    margin-top: 1rem;
}